main {
    padding: 40px 20px;
}

.card {
    height: 280px;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    transform-style: preserve-3d;
    transition: .6s;
}

.card:hover {
    transform: translateY(-8px);
}

.card.volteada {
    transform: rotateY(180deg);
}

.card-frente,
.card-dorso {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    backface-visibility: hidden;
    box-shadow: 0 10px 25px #0002;
}

.card-frente {
    background: linear-gradient(135deg, #7c4dff, #00bcd4);
    color: white;
}

.card-frente h1 {
    font-size: 100px;
    margin: 0;
    font-weight: bold;
}

.card-dorso {
    background: white;
    transform: rotateY(180deg);
    padding: 15px;
}

.card-dorso img {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

.card-dorso h3 {
    margin: 10px 0 0;
    color: #7c4dff;
    font-weight: bold;
}